.header-color {
  background: #536976; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #292e49,
    #536976
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #292e49,
    #536976
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.droverce {
  font-family: "Special Elite", cursive;
}

.pages:hover {
  color: white;
}

.projects-grid {
  display: flex;
}

/* Resume Page */
.resume-right-col {
  background: rgb(247, 248, 247);
  color: black;
  padding: 2em;
}

/* Contact page */
.contact-body {
  margin: auto;
  /* background: grey; */
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  background: rgb(247, 248, 247);
  color: black;
  margin-bottom: 20px;
  border-bottom: 1px dotted black;
}

.contact-grid h2 {
  font-family: "Anton", sans-serif;
  font-family: "Special Elite", cursive;
}

.contact-grid hr {
  border-top: 1px dotted grey;
  width: 100%;
  margin: auto;
}

/* styling the icons */
.contact-list i {
  font-size: 40px;
  padding-right: 5rem;
}

.contact-list {
  font-family: "Special Elite", cursive;
}

.contact-grid p {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}

.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  background-color: rgb(138, 142, 137);
  opacity: 0.9;
  width: 55%;
  margin: auto;
  border-radius: 10px;
}

.contact-image,
.resume-image {
  box-shadow: 5px 5px 3px grey;
}

.banner-text h1 {
  font-family: "Shadows Into Light", cursive;
  font-family: "Maven Pro", sans-serif;
  padding-top: 20px;
  opacity: 0.8;
  font-size: 55px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.banner-text h1:hover {
  color: white;
  /* text-shadow: 2px 1px black; */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.banner-text hr {
  border-top: 1px dotted white;
  width: 90%;
  margin: auto;
  padding-bottom: 1em;
}

.banner-text p {
  font-family: "Montserrat", sans-serif;
  font-family: "Shadows Into Light", cursive;
  font-family: "Maven Pro", sans-serif;
  color: white;
  font-size: 17px;
  padding: 0 1em 0 1em;
  /* text-shadow: 2px 1px white; */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.banner-text p:hover {
  color: black;
  text-shadow: 2px 2px 30px yellowgreen;
  font-weight: bold;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  font-size: 5em;
  padding: 8px;
  padding-bottom: 25px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.social-links i:hover {
  text-shadow: 2px 2px 15px #000000;
}
